@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

body {
    margin: 0;
    
}

header {
    text-align: center;
    background-color: #E0E0E0;
}

h1 {
    font-size: 2.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 3rem;
    color: #C197D2;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 3rem;
    color: #fff;
}
h3 {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2rem;
    color: #E0E0E0;
}
.front-end h3{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2rem;
    color: #5E366A;
}


nav {
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
}

.nav-bar a {
    color: #D3B1C2;
    text-decoration: none;
    padding: 5px;
}
.nav-bar a{
    display: inline-block;
}

.nav-bar a:active {
    color: #0CCA98;
}

.first-column a:hover{
    background-color: #C197D2;
}

footer {
    text-align: center;
    background-color: #5E366A;
    padding: 10px;
    color: #fff;
}

.copyright{
    text-align: center;
    background-color: #5E366A;
    padding: 10px;
    color: #fff;
    display: inline-block;

}

/* Your code here */


header{
margin: 10px;
padding: 10px;

}

html {
    height: calc(100% - 14px);
}

body {
    background-color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    height: calc(100% - 14px);
}

div {
    padding: 5px;
    background-color: #E0E0E0;
}

/*** Your code here ***/

.flex-container{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}
.programming{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    
}

.bio {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: flex-end;
    background-color: #222222;
    float: left;
    padding: 15px 15px 15px 15px;
    margin-left: 45px;
  }


.first-column{
 flex-basis: 1;
 justify-content:space-around;
 width: 100px;



}
.second-column{
    flex-basis: 1;
    justify-content:space-around;
    width: 100px;

}

.skills{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 60%;
    align-self: center;

}
#div-1{
    flex-direction: column;
    flex-basis: 1;
    align-content: flex-start;
    border-top-right-radius: 6%;
    border-top-left-radius: 6%;

}
#div-2{
    height: 200px;
    flex-basis:1;
    flex-direction: column;
    background-color: #331940;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #0CCA98;
    margin-bottom: 10px;
    border-radius: 2%;
}
#div-3{
    height: 200px;
    flex-basis: 1;
    flex-direction: row;
    background-color: #331940;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #0CCA98;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    background: linear-gradient(to bottom,  #331940,#ff99cc  200%);
}
#div-4{
    height: 200px;
    flex-basis: 1;
    flex-direction: row;
    background-color: #331940;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #0CCA98;
    margin-bottom: 10px;
    border-radius: 2%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    background: linear-gradient(to bottom,  #331940,#ff99cc  200%); 
}
#div-5{
    height: 200px;
    flex-basis: 1;
    flex-direction: column;
    background-color: #331940;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #0CCA98;
    border-radius: 2%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    background: linear-gradient(to bottom,  #331940,#ff99cc  200%);
    
}

img {
    width:  15%;
    height: 150px;
    padding: 10px; 
    border-radius: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    }

p{
    color: #5E366A;
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: normal;
}


.bio p{
    color: #E0E0E0;
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: normal;
}

/* Fixed/sticky icon bar (vertically aligned 60% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #E0E0E0;
    color: white;
  }
  
  .twitter {
    background: #E0E0E0;
    color: white;
  }
  
  .google {
    background: #E0E0E0;
    color: white;
  }
  
  .linkedin {
    background: #E0E0E0;
    color: white;
  }
 
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  #img-accordion{
        width:  30%;
        height: 30%;
        padding: 10px; 
        border-radius: 10%;
  }
  #img-accordion {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 300px;
    height: 300px;
    margin: 0 auto;
    align-content: center;
  }
  
  #img-accordion:hover {
    transform: scale(5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

/*** Media Queries ***/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .skills{
        align-content: center;
        justify-content:center;
        align-items: center;
        
    }
   
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    img {
        width:  20%;
        height: 60%;
        float: left;
        margin-top: 10px;
        }
        .first-column{
            width: 50%;
        }
        .second-column{
            width: 50%;
        }
        .skills{
            align-self: flex-start;
            
        }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    img {
        width:  20%;
        height: 60%;
        float: left;
        margin-top: 10px;
        }
        .first-column{
            width: 50%;
        }
        .second-column{
            width: 50%;
        }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    img {
        width:  20%;
        height: 60%;
        float: left;
        margin-top: 10px;
        }
        .flex-container{
            margin-top: 80px;
        }
        .first-column{
            width: 380px;
        }
        .second-column{
            width: 380px;
        }
        .skills{
            justify-content: space-evenly;
            
        }
}

 /* MASSIVE devices (large desktops, 1440px and up) */
@media (min-width: 1440px) {

   img {
    width:  15%;
    float: left;
    margin-top: 5px;
    }
    .flex-container{
        margin-top: 40px;
    }
    .first-column{
        width: 450px;
        margin-right: -20px;
    }
    .second-column{
        width: 450px;
    }
    .skills{
        justify-content: space-evenly;
        
    }
}